.heading-containernav {
    display: flex !important;
    color: black !important;   
  }
  
  .hcolornav {
    font-size: 2.5rem;
    color: #409012 !important;
  }
  
  .hnav {
    font-size: 2.5rem;
    color: black !important;
    margin: 0;
    margin-left: 1rem;
  }

  .linksnav{
    text-decoration: none;
    color: black;
  }

  .stylesnav{
    width: 100%;
  }
  
  .logo {
    height: 3.5rem;
    width: 3.5rem;
    margin: 0;
    clip-path: inset(0 10% 10% 10%);
  }